[submodule "software/OP_Pi/lib/libsoundio"]
	path = software/OP_Pi/lib/libsoundio
	url = https://github.com/andrewrk/libsoundio.git
[submodule "software/OP_Pi/lib/ssd1306"]
	path = software/OP_Pi/lib/ssd1306
	url = https://github.com/lexus2k/ssd1306.git
